* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --padding-container: 100px 0;
    --color-title: #001A49;
}

body {
    font-family: 'Franklin Gothic Medium', serif;
}

.menu {
    background-color: #1A202C;
    color: #fff;
    height: 70px;
}

.menu__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    max-width: 1200px;
    height: 100%;
    margin: 0 auto;
}

.menu__links {
    height: 100%;
    transition: transform .5s;
    display: flex;
}

.menu__item {
    list-style: none;
    position: relative;
    height: 100%;
    --clip: polygon(0 0, 100% 0, 100% 0, 0 0);
    --transform: rotate(-90deg);
}

.menu__item:hover {
    --clip: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    --transform: rotate(0);
}

.menu__link {
    color: #fff;
    text-decoration: none;
    padding: 0 30px;
    display: flex;
    height: 100%;
    align-items: center;
}

.menu__link:hover {
    background-color: #5e7094;
}

.menu__arrow {
    transform: var(--transform);
    transition: transform .3s;
    display: block;
    margin-left: 3px;
}

.menu__nesting {
    list-style: none;
    transition: clip-path .3s;
    clip-path: var(--clip);
    position: absolute;
    right: 0;
    bottom: 0;
    width: max-content;
    transform: translateY(100%);
    background-color: #000;
}

.menu__link--inside {
    padding: 30px 100px 30px 20px;
}

.menu__link--inside:hover {
    background-color: #798499;
}

.menu__hamburguer {
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 15px;
    cursor: pointer;
    display: none;
}

.menu__img {
    display: block;
    width: 36px;
}

@media (max-width:800px) {
    .menu__hamburguer {
        display: flex;
    }
    .menu__item {
        --clip: 0;
        overflow: hidden;
    }
    .menu__item--active {
        --transform: rotate(0);
        --background: #5e7094;
    }
    .menu__item--show {
        background-color: var(--background);
    }
    .menu__links {
        position: fixed;
        max-width: 400px;
        width: 100%;
        top: 70px;
        bottom: 0;
        right: 0;
        background-color: #000;
        overflow-y: auto;
        display: grid;
        grid-auto-rows: max-content;
        transform: translateX(100%);
    }
    .menu__links--show {
        transform: unset;
        width: 100%;
    }
    .menu__link {
        padding: 25px 0;
        padding-left: 30px;
        height: auto;
    }
    .menu__arrow {
        margin-left: auto;
        margin-right: 20px;
    }
    .menu__nesting {
        display: grid;
        position: unset;
        width: 100%;
        transform: translateY(0);
        height: 0;
        transition: height .3s;
    }
    .menu__link--inside {
        width: 90%;
        margin-left: auto;
        border-left: 1px solid #798499;
    }
}

._kc_navbar {
    background-color: white !important;
    width: 100%;
    height: 100px;
    float: left;
}

._kc_navbar a {
    font-size: 1.5vw;
}

._kc_navbar div ._kc_navbar ul {
    background-color: white !important;
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
}

._kc_cont_sec_1 {
    padding: 10%;
}

.kc_cont_sec_1_link {
    padding: 5%;
}

.kc_cont_sec_1_link a {
    width: 200px;
}

.k.kc_cont_sec_1 hr {
    border-top: rgba(1, 1, 1, 0.3);
}


/* Testimony */

.testimony {
    background-color: #e5e5f7;
}

.testimony__container {
    display: grid;
    grid-template-columns: 50px 1fr 50px;
    gap: 1em;
    align-items: center;
}

.testimony__body {
    display: grid;
    grid-template-columns: 1fr max-content;
    justify-content: space-between;
    align-items: center;
    gap: 2em;
    grid-column: 2/3;
    grid-row: 1/2;
    opacity: 0;
    pointer-events: none;
}

.testimony__body--show {
    pointer-events: unset;
    opacity: 1;
    transition: opacity 1.5s ease-in-out;
}

.testimony__img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    object-fit: cover;
    object-position: 50% 30%;
}

.testimony__texts {
    max-width: 700px;
}

.testimony__course {
    background-color: royalblue;
    color: #fff;
    display: inline-block;
    padding: 5px;
}

.testimony__arrow {
    width: 90%;
    cursor: pointer;
}

._kc_cont_footer {
    background-color: rgba(1, 1, 1, 0.7);
    padding: 5%;
    color: white;
    margin-top: 10%;
}

._kc_cont_footer a {
    color: white;
    text-decoration: none;
    display: block;
}

._kc_container_sec {
    display: grid;
    grid-template-columns: 1fr max-content;
    justify-content: space-between;
    align-items: center;
}

.kc_form_container {
    width: 80%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas: "j" "a" "b" "c";
}

.form-holder {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
}

.form-holder .form-content {
    position: relative;
    text-align: center;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
    padding: 60px;
}

.form-content .form-items {
    border: 3px solid #152733;
    padding: 10px;
    display: inline-block;
    width: 80%;
    min-width: 400px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    text-align: left;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

.form-content h3 {
    color: #152733;
    text-align: left;
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 5px;
}

.form-content h3.form-title {
    margin-bottom: 30px;
}

.form-content p {
    color: #152733;
    text-align: left;
    font-size: 17px;
    font-weight: 300;
    line-height: 20px;
    margin-bottom: 30px;
}

.btn-primary {
    background-color: #6C757D;
    outline: none;
    border: 0px;
    box-shadow: none;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
    background-color: #152733;
    outline: none !important;
    border: none !important;
    box-shadow: none;
}

.form-content textarea {
    position: static !important;
    width: 100%;
    padding: 8px 20px;
    border-radius: 6px;
    text-align: left;
    background-color: #fff;
    border: 1;
    border-color: #c3bfbf;
    font-size: 15px;
    font-weight: 300;
    color: #8D8D8D;
    outline: none;
    resize: none;
    height: 120px;
    -webkit-transition: none;
    transition: none;
    margin-bottom: 14px;
}

._kc_h2 {
    color: #001A49;
    text-align: center;
}

._kc_contac_us {
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}